<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"> Barra de progreso</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValuenow]="avance1" aria-valuenow="avance1" aria-valuemin="0" aria-valuemax="100" [style.width]="avance1+'%'" style="width: 75%"></div>
                </div>
                <br/>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValuenow]="avance2" aria-valuenow="avance2" aria-valuemin="0" aria-valuemax="100" [style.width]="avance2+'%'" style="width: 75%"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador (cambioValor)="actualizarProgreso1($event)" leyenda='progreso 1' [avance]='avance1'></app-incrementador>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador (cambioValor)="actualizarProgreso2($event)" leyenda="progreso 2" [avance]='avance2'></app-incrementador>
            </div>
        </div>
    </div>
</div>